[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/folder_name
ExecStart=/usr/bin/python3 /home/ubuntu/folder_name/main.py
Restart=always
RestartSec=5
StandardOutput=append:/var/log/app.log
StandardError=append:/var/log/error.log

[Install]
WantedBy=multi-user.target
